html{
  width: 150px;
  height:400px;
  background-color: #1b1b1b;
  display: flex; /* Make the parent a flex container */
  justify-content: center; /* Horizontally center the paragraph */
}

@font-face {
  font-family: myFirstFont;
  src: url("data/Akzidenz-grotesk-black.ttf");
}

label {
  font-family: myFirstFont;
}

input{
  width: 50;
  font-family: myFirstFont;
}

button{
  font-family: myFirstFont;
}

.grid-container {
  display: grid;
  row-gap: 10px;
}

label{
  color: white;
}

img{
  border-radius: 50%;
}